# Build results
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo

# VS / Rider / IDE
.vs/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# NuGet
*.nupkg
packages/

# Optional: local env stuff
.env